.todo{
    width: 100%;
}

.todoblock {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 3.5rem;
    background-color: antiquewhite;
    justify-content: space-between;
    border-radius: 6px;
}

.title{
    padding-left: .5rem;
    font-size: 18px;
    font-weight: 500;
}

.other-title{
    text-decoration-line: line-through; 
    -webkit-text-decoration-line: line-through;
}

.icons{
    display: flex;
    gap: 1rem;
    align-content: center;
    align-items: center;
    padding-right: .5rem;
    cursor: pointer;
}
.icon{
    width: 26px;
    height: 26px;
}