.todo-form-block {
    width: 100%;
}

.todo-form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 3.5rem;
    border-radius: 6px;
    gap: 10px;
}

.todo-label {
    text-align: left;
    font-size: 18px;
    font-weight: 600;
}

.todo-input {
    padding: .5rem;
    border: 1.7px solid black;
    outline: none;
    border-radius: 6px;
}

.add-button {
    padding: .4rem;
    width: 5rem;
    background-color: black;
    color: antiquewhite;
    border-radius: 6px;
    border: none;
    font-size: 16px;
}